language: node_js
node_js:
  - "0.12"
  - "0.11"
  - "0.10"
  - "iojs"
matrix:
  allow_failures:
    - node_js: "0.11"

install:
  # Output imagemagick version
  - convert -version

  # Install dependencies
  - npm install

notifications:
  email: false

